@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpcontextAccessor
<ul class="navbar-nav">


    @if (httpcontextAccessor.HttpContext.Session.GetInt32("accessLevel") > 0)
    {
        @*<li class="nav-item text-white navbar-text">@httpcontextAccessor.HttpContext.Session.GetString("uniLogin") </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Logout">Log ud</a>
            </li>*@

        <li class="nav-item dropdown">
            <a class="nav-item dropdown-toggle nav-link" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Logget ind som: @httpcontextAccessor.HttpContext.Session.GetString("uniLogin")
            </a>

            <ul class="dropdown-menu dropDown-background box-shadow" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="nav-link" asp-controller="Home" asp-action="Logout">Log ud</a></li>
                <li><a class="nav-link" asp-controller="Booking" asp-action="MyBookings">Mine Bestillinger</a></li>
            </ul>
        </li>
    }


</ul>
