@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpcontextAccessor
<ul class="navbar-nav">


    @if (httpcontextAccessor.HttpContext.Session.GetInt32("accessLevel") > 0)
        {
        <li class="nav-item text-white">@httpcontextAccessor.HttpContext.Session.GetString("uniLogin")</li>
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Logout">Log ud</a>
        </li>
        }


</ul>
