@model HUS_project.Models.DeviceModel
@{
    ViewData["Title"] = "Opret enhed";
}
<div class="container createDeviceContainer">
    <div class="container createDeviceContainerTwo">
        <p class="text-white" style="margin: 20%;">test</p>
    </div>
</div>