@model HUS_project.Models.DeviceModel
@{
    ViewData["Title"] = "Opret enhed";
}
<div class="container bg-dark rounded containerHeader">
    <div class="row">
        <h5 style="color: #064bfd;">Opret enhed</h5>
        <div class="col-md-3">
            <div class="row">
                <img src="" alt="Upload foto" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h6 class="text-light text-left">Kategori:</h6>
                <select>
                    <option value="none">Vælg kategori</option>
                </select>
            </div>
            <div class="row">
                <h6 class="text-light text-left font-weight-bold">Enhedsnavn:</h6>
                <select>
                    <option value="none">Indtast enhedsnavn</option>
                </select>
            </div>
            <div class="row">
                <button class="rounded text-white bg-success">Gem</button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <h6 class="text-light text-left font-weight-bold">Beskrivelse:</h6>
                <textarea style="width: 90%" placeholder="Tilføj beskrivelse..."></textarea>
            </div>
        </div>
    </div>
</div>