@model HUS_project.Models.ViewModels.ModelInfoModel
@{
    ViewData["Title"] = "Lagerstyring";
}

<div class=" blue-oyster-bar">

    <!--first row-->
    <div class="row">
        <div class="col text-white">
            <label>søgeord:</label>
        </div>

        <div class="col text-white">
            <label>Kategori:</label>
        </div>

        <div class="col text-white">
            <label>Status:</label>
        </div>

        <div class="col text-white">
            <form class="" asp-area="" asp-controller="Administration" asp-action="CategoryAdmin" method="post">

                <button class="btn-blue" type="submit">Ny Kategori</button>
            </form>



        </div>

        <div class="col text-white">
            <form class="" asp-area="" asp-controller="Device" asp-action="CreateDevice" method="post">

                <button class="btn-blue" type="submit">Opret enhed</button>
            </form>
        </div>

        <div class="col text-white">
            <form class="" asp-area="" asp-controller="Device" asp-action="EditView" method="post">

                <button class="btn-blue" type="submit">rediger enhed</button>
            </form>
        </div>




    </div>

    <div class="row">
        <form class="row" action="" method="post">
           
            <div class="col">
                <input />

            </div>

           
        </form>

    </div>



</div>

<div class="container containerMain box-shadow">

    <div class="row containerHeader">
        <h4 class="col">Lagerbeholdning</h4>
    </div>

    <div class="row containerSubHeader border-top border-bottom border-white border-1 dynamic-Font-Size-10">
        <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">ID</div>
        <div class="col-xl-5 col-lg-3 col-md-2 col-2 p-1 border-end border-white border-1">Beskrivelse</div>
        <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">Kategori</div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-2 p-1 border-end border-white border-1">Lokale</div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-2 p-1 border-end border-white border-1">Hylde</div>
        <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">Status</div>
    </div>

    <div class="row containerBody alternating_row dynamic-Font-Size-10">
        <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">Parameter</div>
        <div class="col-xl-5 col-lg-3 col-md-2 col-2 p-1 border-end border-white border-1">Parameter</div>
        <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">Parameter</div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-2 p-1 border-end border-white border-1">Parameter</div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-2 p-1 border-end border-white border-1">Nyoprettet.0.0</div>
        <div class="col-xl-1 col-lg-1 col-md-2 col-2 p-1 border-end border-white border-1">Parameter</div>
      @*  <div class="col-xl-1 p-1"></div>*@
        <div class="col-lg-2 col-12 p-1 center "><button type="button" class="btn btn-primary btn-sm btn-blue" style="width:100px">Rediger</button></div>
        
    </div>

    <div class="row containerFooter">
        <h4>&nbsp;</h4>
    </div>

</div>
