@model HUS_project.Models.ViewModels.EditDeviceModel
@{
    ViewData["Title"] = "Scan enhed";
}



<!--java script to count remaining text in description-->
<script type="text/javascript" src="~/js/instascan.min.js"></script>
<script src="~/js/ScanQRCode.js"></script>
<script src="~/js/GetQRLocationForDevice.js"></script>

<form id="ScanLocationForm" asp-action="ReturnScanData" method="post" form>

    <div class="row blue-oyster-bar center box-shadow"></div>

    <div class="container containerMain box-shadow">

        <!--header bar-->
        <div class=" row containerHeader">

            <h4 class="text-white">Skan QR koden nu</h4>

        </div>

        <div class="row containerBody">

            <div class="col-md-12 center">

                <video class=" centerVideo" id="preview" width="336" height="254"></video>

                <input id="hiddenID" type="hidden" value="@Model.Device.DeviceID" />
                <input id="ItemIsScanned" type="checkbox" onchange="SubmitQRCode();" hidden />

            </div>

            <div class="col-md-12 center p-1">

                <input id="content" type="text" asp-for="@Model.Location" value="" />
                <input id="deviceID" type="text" asp-for="@Model.Device.DeviceID" hidden />

            </div>


            

        </div>

        <!--footer bar-->
        <div class="row containerFooter">
            <div class="col-12">
                <h4>&nbsp;</h4>

            </div>
        </div>

    </div>

</form>



