@model HUS_project.Models.ViewModels.EditDeviceModel
@{
    ViewData["Title"] = "Scan enhed";
}


<!--java script to count remaining text in description-->
@*<script src="~/js/site.js"></script>*@
<script type="text/javascript" src="~/js/instascan.min.js"></script>
<script src="~/js/ScanQRCode.js"></script>
<script src="~/js/GetQRLocationForDevice.js"></script>

<video id="preview" width="500" height="500"></video>

<input id="hiddenID" type="hidden" value="@Model.Device.DeviceID" />
<input id="ItemIsScanned" type="checkbox" onchange="SubmitQRCode();" hidden />

<form id="ScanLocationForm" asp-action="ReturnScanData" method="post" form>

    <input id="content" type="text" asp-for="@Model.Room" value=""/>


</form>


