@using Microsoft.AspNetCore.Http;
@model HUS_project.Models.EditStorageLocationModel
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Placerings Administration";
}
<form Asp-action="LocationAdmin" method="post">
    <div class="container-fluid blue-oyster-bar">
        <div class="row g-2">
            <div class="col-md-1">
                <div class="col-md">
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" asp-for="@Model.StorageLocation.Location.Building">
                        <option selected>Open this select menu</option>
                        @foreach (var item in Model.Rooms)
                        {
                            <option>@item.Building</option>
                        }
                    </select>
                    <label for="floatingSelectGrid">Bygning</label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="col-md">
                    <label class="text-white my-1">
                        Lokale: <input list="roomNr" placeholder="Vælg" />
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="col-md">
                    <label class="text-white my-1">
                        Lokale: <input list="roomNr" placeholder="Vælg" />
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="col-md">
                    <label class="text-white my-1">
                        Lokale: <input list="roomNr" placeholder="Vælg" />
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="col-md">
                    <label class="text-white my-1">
                        Lokale: <input list="roomNr" placeholder="Vælg" />
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md">
                    <label class="text-white my-1">
                        Lokale: <input list="roomNr" placeholder="Vælg" />
                    </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md">
                    <label class="text-white my-1">
                        Lokale: <input list="roomNr" placeholder="Vælg" />
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="col-md">
                    <label class="text-white ">
                        Lokale: <input list="roomNr" placeholder="Vælg" />
                    </label>
                </div>
            </div>


        </div>
    </div>

</form>

