@using Microsoft.AspNetCore.Http;
@model HUS_project.Models.ViewModels.HistoryModel
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Historik";
}








<div class="row blue-oyster-bar center box-shadow">
    <div class="row">

        <div class="col-xl-3 gx-3 gy-3"></div>
        <div class="col-xl-2 col-sm-4 gx-3 gy-3">
            <div class="form-floating">
                <input class="bi-calendar-dat" type="date" id="startDate" aria-label="Start dato" asp-for="@Model.SearchCriteria.RentDate">

                <label for="floatingSelectGrid">Bygning:</label>
            </div>

        </div>
        <div class="col-xl-2 col-sm-4 gx-3 gy-3">
            <div class="form-floating">
                <input class="bi-calendar-date" type="date" id="roomNumberDropDown" list="roomNumbers" aria-label="Vælg lokalenummer" asp-for="@Model.SearchCriteria.ReturnDate" onkeyup="SetTimeout(); returnToInputField();" onkeydown="clearTimeout()">
           
                <label for="floatingSelectGrid">Lokale Nr:</label>
            </div>

        </div>
        <div class="col-xl-2 col-sm-4 gx-3 gy-3">
            <div class="form-floating">
                <input class="form-select capitalized" id="chosenRoom" list="rooms" aria-label="room" asp-for="@Model.Rooms">
                <datalist id="rooms">
                    @for (int i = 0; i < Model.Rooms.Count; i++)
                    {
                        <option>@Model.Rooms[i]</option>
                    }
                </datalist>
                <label for="floatingSelectGrid">Lokale:</label>
            </div>

        </div>
        <div class="col-xl-3"></div>
    </div>


    <div class="row">
        <div class="col-xl-3">

        </div>
        <div class="col-xl-4 gx-3 gy-3">

        </div>

        <div class="col-xl-2 gx-3 gy-3">
            <button type="submit" class="btn btn-primary btn-blue" asp-action="SeachBookings">Søg</button>

        </div>

        <div class="col-xl-3">

        </div>
    </div>
</div>
