@using Microsoft.AspNetCore.Http;
@model HUS_project.Models.ViewModels.UserLoginDataModel
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Login";
}
<div class="row blue-oyster-bar center box-shadow">
    <div class="row text-white g-2">
        <h2 class="text-white" style="padding-top:30px;">ZBC HUS - Login side</h2>
        <h4 class="text-white">Kun for Undervisere og SKP Elever</h4>
    </div>
</div>



<div class="container containerMain box-shadow loginBox">
    @*LOGIN FORM*@
    <form asp-action="Login" method="post" id="loginForm">
        <div class="row g-3">
            <div class="col-md-2"></div>
            <div class="col-md-3 form-floating">
                <input id="uniLoginBox" asp-for="@Model.UNILogin" type="text" style="max-height:55px" class="form-control" />
                <label for="uniLoginBox">ZBC Email initialer eller uniLogin:</label>
            </div>
            <div class="col-md-3 form-floating">
                <input id="passwordBox" asp-for="@Model.Password" type="password" style="max-height:55px" class="form-control" />
                <label for="passwordBox">Kodeord:</label>

            </div>
            <div class="col-md-3 form-floating">
                <button class="btn btn-primary border-white vertical-center" type="submit">Log ind</button>
            </div>
        </div>

        @if (httpContextAccessor.HttpContext.Session.GetString("loginError") != null && httpContextAccessor.HttpContext.Session.GetString("loginError") != "")
        {
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6" style="align-content:center; margin-top:8px;" id="loginError">
                    <p style="text-align:center; padding:5px; background-color:indianred; border-radius:8px; border-width:3px; border-style:solid; border-color:darkred;">@httpContextAccessor.HttpContext.Session.GetString("loginError").ToString()</p>
                </div>
            </div>
        }
    </form>
    @*LOGIN FORM END*@
</div>
