@model HUS_project.Models.UserLoginDataModel
@{
    ViewData["Title"] = "Login";
}
<div class="UpperBar">
    @*LOGIN FORM*@
    <form asp-action="Login" method="post" id="loginForm">
        @*TITLES*@
        <div class="row">
            <div class="col-md-3">
                <label>uni-Login:</label>
            </div>
            <div class="col-md-3">
                <label>Kodeord:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input asp-for="@Model.UNILogin" type="text" id="uniLogin" />
            </div>
            <div class="col-md-3" >
                <input  asp-for="@Model.Password" type="password" id="password" />
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" type="submit">Log ind</button>
            </div>
        </div>
    </form>
    @*LOGIN FORM END*@

</div>