@using Microsoft.AspNetCore.Http;
@model HUS_project.Models.UserLoginDataModel
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Login";
}
<div class="blue-oyster-bar">
    <h2 class="text-white">ZBC HUS - Login side</h2>
    <h4 class="text-white">Kun for Lærere eller SKP Elever</h4>
</div>

<div style="padding-top:150px" class="columnContent">
    @*LOGIN FORM*@
    <form asp-action="Login" method="post" id="loginForm">
        @*TITLES*@

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3 form-floating">
                <input id="uniLoginBox" asp-for="@Model.UNILogin" type="text" class="form-control" />
                <label for="uniLoginBox">uniLogin:</label>
            </div>
            <div class="col-md-3 form-floating">
                <input id="passwordBox" asp-for="@Model.Password" type="password" class="form-control" />
                <label for="passwordBox">Kodeord:</label>
                
            </div>
            <div class="col-md-3 form-floating">
                <button class="btn btn-primary border-white vertical-center" type="submit">Log ind</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6 alert-danger" id="loginError">
                @if (httpContextAccessor.HttpContext.Session.GetString("loginError") != null && httpContextAccessor.HttpContext.Session.GetString("loginError") != "")
                {
                    <p>@httpContextAccessor.HttpContext.Session.GetString("loginError").ToString()</p>
                }
            </div>
        </div>
    </form>
    @*LOGIN FORM END*@
</div>