@{
    ViewData["Title"] = "Home Page";
}

<div class="UpperBar">
    <div class="row">
        <div class="col-md-4">
            <label>Søgeord:</label>
        </div>
        <div class="col-md-4">
            <label>Søgeord:</label>
        </div>
        <div class="col-md-4">
            <label>Søgeord:</label>
        </div>
        <div class="col-md-4">
            <label>Søgeord:</label>
        </div>
    </div>
</div>
