@model HUS_project.Models.ViewModels.TasksModel

@{
    ViewData["Title"] = "Tasks";
}

<div class="row blue-oyster-bar center box-shadow">
    <div class="row text-white g-2">
        <h2>- Dagens Opgaver -</h2>
    </div>
</div>
<div class="container containerMain box-shadow">
    <div class="row containerHeader">
        <h4>Ordre som skal afhentes:</h4>
    </div>
    <div class="row containerBody">
        @foreach (BookingModel booking in Model.BookingsToBeRetrieved)
        {
            <div style="width:100%;">
                @booking.BookingID
            </div>
            @foreach (ItemLineModel item in booking.Items)
            {
                <div>
                    @item.Model.ModelName (@item.Model.Category.Category) - @item.Quantity
                </div>
            }
        }
    </div>
    <div class="row containerFooter">

    </div>
</div>

<div class="container containerMain box-shadow">
    <div class="row containerHeader">
        <h4>Ordre som skal leveres:</h4>
    </div>
    <div class="row containerBody">

    </div>
    <div class="row containerFooter"></div>
</div>
</div>

