@model HUS_project.ViewModels.Tasks

@{
    ViewData["Title"] = "Tasks";
}

<div class="container" id="ordersToBeDelivered">
    <div class="containerHeader"></div>
    <div class="containerBody">
        
    </div>
    <div class="containerFooter"></div>
</div>

<div class="container" id="ordersToBeRetrieved">
    <div class="containerHeader"></div>
    <div class="containerBody">
        <h3>Yoyo test lesser header</h3>
        <p>
            LOOK AT THE PICTURE!!! See the skull, the part of bone removed, the "master-race" Frankenstein radio controls, the Brain-thoughts Broadcasting Radio, the Eyesight Television, the Frankenstein Earphone Radio, the Threshold Brainwash Radio, the latest new skull reforming to contain ALL Frankenstein Controls, even in THIN skulls of WHITE PEDIGREE MALES! Visible Frankenstein controls! The synthetic nerve-radio directional antennae loop! Make copies for yourself! There is NO ESCAPE from this worst gangster police state, using ALL of the deadly gangster Frankenstein controls!
        </p>
        <p>
            In 1965, CIA gangster police BEAT ME BLOODY, dragged me IN CHAINS from Kennedy New York Airport! Since then I HIDE in forced jobless poverty, isolated alone in this low deadly niggertown old house. The brazen, deadly Gangster Police and niggerpuppet underlings spray me with POISON NERVE GAS from automobile exhausts and even lawnmowers! DEADLY ASSAULTS, even in my yard with knives, even bricks and stones, even DEADLY TOUCH TABIN or ELECTRIC SHOCK FLASHLIGHTS; even remote electronically controlled around-corners-projection of DEADLY TOUCH TARANTULA SPIDERS or even bloody-murder "accidents" to shut me up forever with a Sneak Undetectable Extermination! Even with trained parroting puppet assassins in MAXIMUM SECURITY INSANITY PRISON for writing these unforgivable TRUTHS!!
        </p>
    </div>
    <div class="containerFooter"></div>
</div>