@model HUS_project.Models.ViewModels.QRModel
@{
    ViewData["Title"] = "Print QR";
}

<div class=" center">


    <h4 class="text-white ignorePDF">QR viewer</h4>
    <div class="row">

        @for (int i = 0; i < Model.QRCode.Count; i++)
        {

        <div class="col-sm-auto center">
            <img class="row" src="@string.Format("data:image/png;base64,{0}",Convert.ToBase64String(Model.QRCode[i].ImageData))" width="200" />
            <label class="row">@Model.QRCode[i].LabelName</label>

        </div>



        }

    </div>

    <div class="ignorePDF">
        <button onclick="window.print()">Print QR koder</button>
    </div>

</div>
