.border_EditBox {
    border-right: solid;
    border-right-width: 2px;
    border-right-color: #1c209a;
    /* border-radius: 10px;*/
    /*padding: 10px;*/
}


.centerVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Button-Size{
    width: 100px;
    
}


